<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sudoku App</title>
    <script src="https://cdn.tailwindcss.com/3.4.4"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/18.2.0/umd/react.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.2.0/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone@7.24.7/babel.min.js"></script>
    <link rel="stylesheet" href="./../static/disable-webkit-spin-button.css" />
    <link rel="icon" href="./../static/favicon.svg" type="image/x-icon" />
    <link rel="shortcut icon" href="./../static/favicon.svg" type="image/x-icon" />
  </head>
  <body>
    <header>
      <h1 class="text-3xl m-5 text-center">Sudoku App</h1>
    </header>
    <main id="root"></main>
    <script type="text/babel">
      const numberDict = {
        1: { 1: 0, 2: 0, 3: 0, 4: 0, 5: 7, 6: 0, 7: 5, 8: 0, 9: 0 },
        2: { 1: 8, 2: 6, 3: 0, 4: 0, 5: 0, 6: 0, 7: 2, 8: 7, 9: 0 },
        3: { 1: 0, 2: 0, 3: 1, 4: 6, 5: 5, 6: 0, 7: 0, 8: 0, 9: 0 },
        4: { 1: 4, 2: 0, 3: 7, 4: 0, 5: 0, 6: 0, 7: 3, 8: 0, 9: 0 },
        5: { 1: 0, 2: 0, 3: 0, 4: 0, 5: 9, 6: 0, 7: 0, 8: 0, 9: 4 },
        6: { 1: 6, 2: 2, 3: 9, 4: 3, 5: 4, 6: 8, 7: 1, 8: 5, 9: 7 },
        7: { 1: 7, 2: 1, 3: 6, 4: 5, 5: 2, 6: 9, 7: 4, 8: 8, 9: 3 },
        8: { 1: 9, 2: 3, 3: 2, 4: 4, 5: 8, 6: 6, 7: 7, 8: 1, 9: 5 },
        9: { 1: 5, 2: 4, 3: 8, 4: 7, 5: 1, 6: 3, 7: 6, 8: 9, 9: 2 },
      };

      function SudokuTable() {
        const renderLines = () => {
          return Array.from({ length: 9 }, (_, i) => <div key={i} className="h-24 w-24 border border-black"></div>);
        };

        const renderRows = () => {
          return Array.from({ length: 9 }, (_, i) => (
            <>
              {Array.from({ length: 9 }, (_, j) => (
                <input
                  key={`${i}-${j}`}
                  type="number"
                  min={1}
                  max={9}
                  className="h-8 w-8 p-2.5 text-base outline-1 outline outline-gray-400"
                  data-i={i + 1}
                  data-j={j + 1}
                />
              ))}
            </>
          ));
        };

        return (
          <div className="relative">
            <div className="inline-grid absolute pointer-events-none grid-rows-3 grid-cols-3">{renderLines()}</div>
            <div className="inline-grid grid-rows-9 grid-cols-9">{renderRows()}</div>
          </div>
        );
      }

      function SudokuButtons() {
        return (
          <div className="flex justify-center">
            <button id="solve-button" className="px-4 py-1 rounded-md m-3 border-2 border-blue-700">
              Solve
            </button>
          </div>
        );
      }

      function SudokuApp() {
        return (
          <div className="text-center">
            <SudokuTable />
            <SudokuButtons />
          </div>
        );
      }

      ReactDOM.render(<SudokuApp />, document.getElementById("root"));
    </script>
  </body>
</html>
