<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sudoku App</title>
    <script src="https://cdn.tailwindcss.com/3.4.4"></script>
    <script crossorigin src="https://unpkg.com/react@18.3.1/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18.3.1/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone@7.24.7/babel.min.js"></script>
    <link rel="stylesheet" href="./../static/disable-webkit-spin-button.css" />
    <link rel="icon" href="./../static/favicon.svg" type="image/x-icon" />
    <link rel="shortcut icon" href="./../static/favicon.svg" type="image/x-icon" />
  </head>
  <body id="root">
    <script type="text/babel" src="./../static/SudokuApp.jsx"></script>
  </body>
</html>
